/* custom font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

$primary-color: #4f515a;
$secondary-color: #ebebeb;
$warning-color: #da0f41;

/* base styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: #fafafa;
  color: $primary-color;
}

a {
  text-decoration: none;
  color: $primary-color;
}

/* buttons */
button,
.btn {
  background: $secondary-color;
  border-radius: 8px;
  border: 0;
  padding: 8px 12px;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 20px 0;
  // font-weight: 600;
  transition: all .3s linear;
}

button:hover,
.btn:hover {
  background: $primary-color;
  color: white;
}

button:disabled {
  opacity: 0.5;
  color: $primary-color;
  background: $secondary-color;
  cursor: not-allowed;
}

/* forms */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.05);
  border: 1px solid $secondary-color;
  background: white;
}

input,
textarea {
  font: inherit;
  border: 0;
  border-bottom: 1px solid $secondary-color;
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  margin: 30px auto;
}

/* error text */
.error {
  color: $warning-color;
  font-size: 14px;
  margin: 16px 0;
}
